
.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints/Notebook-checkpoint.ipynb
.ipynb_checkpoints/Notebook-checkpoint.ipynb
.ipynb_checkpoints/mental-heath-in-tech-2016_20161114-checkpoint.csv
.ipynb_checkpoints/Catboost_backup-checkpoint.ipynb
.ipynb_checkpoints/Output-checkpoint.txt
